@font-face {
  font-family: old-english;
  src: url(Fonts/Chomsky.otf);
}

@font-face {
  font-family: cheltenham;
  src: url(Fonts/cheltenham-italic-500.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-float {
  clear: both;
}

header {
  overflow: hidden;
  height: 50px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #80808052;
  background-color: #fff;
  z-index: 1;
}

#logo {
  font-family: old-english, serif;
  float: left;
  width: 33%;
  text-align: center;
  position: relative;
  top: 14px;
  font-size: 24px;
  font-weight: 550;
}

.menu {
  float: left;
  position: relative;
  top: 10px;
  margin-left: 21px;
  width: 33%;
}

.menu .fas {
  margin-right: 20px;
}

.menu a {
  font-size: 14.25px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.7px;
  line-height: 19px;
}

.login-buttons {
  float: right;
  position: relative;
  bottom: 21px;
  margin-right: 21px;
  width: 33%;
  text-align: right;
}

.login-buttons > button {
  padding: 9px 8px;
  background-color: #567b95;
  color: #fff;
  border: 1px solid #326891;
  border-radius: 2px;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.05em;
}

#container {
  width: 1200px;
  margin: auto;
  position: relative;
  top: 50px;
  padding-top: 50px;
  margin-bottom: 70px;
}

.article-title .title {
  text-align: center;
  font-family: cheltenham, georgia, 'times new roman', times, serif;
  font-size: 2.3rem;
  display: inline;
  position: relative;
  left: 300px;
}

.article-image img {
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
}

.image-caption p {
  color: #666;
}

.image-caption .photo-author {
  font-size: 13.5px;
  color: #aba8a8;
}

.article {
  margin-top: 50px;
}

.article > div {
  width: 50%;
  margin-left: 300px;
}

.article-header .article-author .author {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}

.article-header .article-author .author:hover {
  text-decoration: none;
}

.article-header .share-menu {
  overflow: hidden;
  padding: 10px 0;
}

.share-menu .article-date {
  float: left;
  position: relative;
  top: 20px;
}

.share-menu .share-icons {
  list-style: none;
  float: right;
  position: relative;
}

.share-menu .share-icons .share-list {
  display: inline-block;
  margin-right: 10px;
}

.share-menu .share-icons .number {
  position: absolute;
  right: 6px;
  top: 14px;
  font-size: 12.5px;
  font-family: Helvetica, sans-serif;
}

.share-icons .fab,
.share-icons .fas {
  font-size: 14px;
  color: #000;
  background-color: rgb(239, 239, 239);
  padding: 10px;
  border-radius: 50%;
}

.share-icons .fa-facebook-f {
  padding: 10px 12px;
}

.share-icons .far {
  font-size: 33px;
  position: relative;
  top: 7px;
  color: #000;
}

.paragraph {
  margin-top: 20px;
}

.paragraph p {
  font-family: georgia, serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  line-height: 30px;
}

.paragraph .paragraph-title {
  color: #333;
  font-size: 21px;
  margin-bottom: 10px;
}

.paragraph p a {
  color: #326891;
}

.paragraph p a:hover {
  text-decoration: none;
}

.advert .line {
  width: 70px;
  margin: auto;
  opacity: 0.5;
}

.advert .advert-paragraph {
  margin: 20px 0;
  text-align: center;
  font-family: arial, serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.advert .advert-paragraph .advert-link {
  color: #326891;
  text-decoration: none;
}

.side-picks {
  width: 17% !important;
  float: right;
  margin-left: 0 !important;
  position: relative;
  bottom: 166px;
}

.side-picks .side-picks-title {
  margin-bottom: 10px;
  font-family: arial, serif;
  font-size: 13px;
}

.side-picks .picks {
  margin-top: 15px;
}

.picks .picks-links {
  list-style: none;
}

.picks-links .picks-list {
  margin-bottom: 15px;
}

.picks-links .thumbnails {
  width: 38%;
  display: inline-block;
  margin-right: 4%;
}

.picks-links .thumbnails-text {
  width: 58%;
  display: inline-block;
  font-size: 15px;
  position: relative;
  bottom: 12px;
  color: #000;
}

.inner-article {
  width: 80% !important;
  margin: auto !important;
  position: relative;
}

.inner-article-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.inner-article-text {
  color: #666;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  margin: 5px 0;
}

.inner-article .background-img {
  width: 100%;
}

.inner-article .short-text {
  position: absolute;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
  width: 220px;
}

.inner-article .short-text-1 {
  bottom: 317px;
}

.inner-article .short-text-2 {
  bottom: 317px;
  left: 250px;
}

.inner-article .short-text-3 {
  bottom: 317px;
  left: 493px;
}

.inner-article .short-text-4 {
  bottom: 300px;
  left: 738px;
}

.inner-article .short-text-5 {
  bottom: 20px;
}

.inner-article .short-text-6 {
  bottom: 20px;
  left: 250px;
}

.inner-article .short-text-7 {
  bottom: 20px;
  left: 493px;
}

.inner-article .short-text-8 {
  bottom: 20px;
  left: 738px;
}

.inner-article .inner-article-line {
  width: 61px;
  border: 1.2px solid black;
  position: relative;
  top: 45px;
}

.inner-article .inner-article-author {
  font-weight: 540;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 65px;
}

.article .paragraph-padd {
  padding-top: 90px;
}

.article-video {
  margin: 50px 0;
}

.media-text {
  color: #666;
  margin-top: 10px;
  font-size: 16px;
}

.media-text .media-credit {
  color: #888;
  font-size: 0.968em;
}

.article-photo {
  width: 60% !important;
  margin: 50px auto !important;
}

.article-photo img {
  width: 100%;
}

.article .article-footer {
  color: #666;
  font-size: 0.75rem;
  font-family: Helvetica, sans-serif;
}

.article-footer .article-link {
  color: #666;
}

.article-footer .article-link:hover {
  text-decoration: none;
}

.article .article-comments {
  margin-top: 25px;
  overflow: hidden;
}

.article-comments .comment-button {
  float: left;
  padding: 10px 90px;
  background-color: #567b95;
  color: #fff;
  border: 1px solid #326891;
  border-radius: 2px;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.05em;
  transition: all 0.5s;
}

.article-comments .comment-button:hover {
  background-color: rgb(50, 104, 145);
}

.article-comments .comments-list {
  float: right;
  list-style: none;
}

.comments-list .comment-list {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  padding: 10px;
  font-size: 14px;
  background-color: rgb(239, 239, 239);
  border: 1.5px solid #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.comment-list .comment-link {
  color: #000;
}

.comments-list .facebook {
  padding: 10px 12px;
}

.comments-list .comment-list:hover {
  background-color: #fff;
  border: 1.5px solid rgb(239, 239, 239);
}

.see-more {
  margin-top: 50px;
  overflow: hidden;
}

.see-more .related-articles {
  width: 69%;
  border-top: 1px solid #000;
  padding-top: 21px;
  overflow: hidden;
  float: left;
}

.related-articles .related-articles-titles {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 14px;
}

.related-articles-titles .related-articles-link {
  color: #000;
  text-decoration: none;
}

.related-articles-titles .related-articles-link:hover {
  text-decoration: underline;
}

.related-articles .related-pages {
  width: 31%;
  float: left;
  margin-right: 2%;
  height: 320px;
}

.related-pages .pages-links {
  text-decoration: none;
  color: #000;
  position: relative;
}

.related-pages .related-pics {
  width: 100%;
}

.related-pages .news-credits {
  color: grey;
  top: 17px;
  position: absolute;
  left: 155px;
  width: 200px;
  font-size: 11.5px;
}

.related-pages .news-credits-2 {
  left: 82px;
}

.related-pages .news-credits-5 {
  left: 129px;
}

.related-pages .news-credits-6 {
  left: 102px;
}

.related-pages .related-pages-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  margin: 20px 2px 5px 0;
}

.related-pages .related-pages-text:hover {
  opacity: 0.6;
}

.related-pages .date {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 11.5px;
}

.related-articles .see-more-editor-picks {
  border-top: 1px solid #000;
  padding-top: 20px;
  overflow: hidden;
}

.related-pages .news-credits-7 {
  left: 215px;
}

.related-pages .news-credits-8 {
  left: 86px;
}

.related-pages .news-credits-9 {
  left: 111px;
}

.most-popular {
  width: 28%;
  float: right;
  border-top: 1px solid #000;
  padding-top: 21px;
}

.most-popular .most-popular-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 14px;
}

.most-popular .most-popular-box {
  padding: 12px 0;
}

.most-popular-separator {
  opacity: 0.5;
}

.most-popular-box .most-popular-link {
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  font-family: georgia, serif;
  text-decoration: none;
  color: #000;
}

.most-popular-box .most-popular-link:hover {
  color: grey;
}

.double-line {
  opacity: 0.2;
}

.double-line-big {
  border-top: 2px solid grey;
}

.home-links {
  overflow: hidden;
  padding-top: 8px;
}

.home-links .home-logo {
  float: left;
  font-family: old-english, serif;
  font-size: 24px;
  font-weight: 550;
  text-decoration: none;
  color: #000;
}

.home-links .go-home {
  float: right;
  color: #567b95;
  font-size: 11px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 9px;
}

.site-map {
  overflow: hidden;
  padding-bottom: 10px;
}

.site-map-list {
  padding-top: 25px;
}

.site-map-columns {
  list-style: none;
  width: 16.6%;
  float: left;
}

.column-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.list-elements {
  margin: 5px 0;
}

.rows {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.rows:hover {
  text-decoration: underline;
}

.subscribe-menu {
  border-left: 1px solid #80808069;
  padding-left: 17px;
}

.bold-elements {
  font-weight: 800;
}

.list-divisor {
  border-bottom: 1px solid #80808069;
  padding-bottom: 6px;
}

.stolen-icons {
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.small-ch {
  font-size: 10px;
}

.margin-divisor {
  padding-top: 6px;
}

.cooking-margin {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding-top: 10px;
}

.footer-list {
  overflow: hidden;
  list-style: none;
  display: inline-block;
  margin: auto;
}

.footer-list li {
  float: left;
  margin: 0 10px;
}

.footer-links {
  text-decoration: none;
  font-family: helvetica, serif;
  font-size: 10.5px;
  color: #666;
}

.footer-links:hover {
  text-decoration: underline;
}

.bottom-navbar {
  position: fixed;
  border-top: 1px solid #000;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}

.bottom-navbar p {
  text-align: center;
  position: relative;
  top: 17px;
  font-family: 'Times New Roman', Times, serif;
}

.bottom-navbar div {
  position: absolute;
  right: 304px;
}

.bottom-navbar div span {
  font-size: 11.5px;
  margin-right: 40px;
  font-weight: 700;
}

iframe {
  border: 0;
}
